{% extends "::base.html.twig" %}

{% block title %}AppBundle:Location:gym{% endblock %}

{% block body %}
<h4>Your latitude is {{ lat }}</h4>
<h4>Your longitude is {{ long }}</h4>
<h4>Your acccuracy is {{ accuracy }}</h4>
<h4>Attempting to login to {{ new }}</h4>
<h4>Attempting to login to {{ response }}</h4>
{% endblock %}
