{% extends 'base.html.twig' %}

{% block body %}
    <h1>Calculation</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ calculation.id }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ calculation.age }}</td>
            </tr>
            <tr>
                <th>Weight</th>
                <td>{{ calculation.weight }}</td>
            </tr>
            <tr>
                <th>Feet</th>
                <td>{{ calculation.feet }}</td>
            </tr>
            <tr>
                <th>Inches</th>
                <td>{{ calculation.inches }}</td>
            </tr>
            <tr>
                <th>Sex</th>
                <td>{% if calculation.sex %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('bmr_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('bmr_edit', { 'id': calculation.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
